html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  font-family:Arial, Helvetica, sans-serif;
  font-size:100%;
  font-style:inherit;
  font-weight:inherit;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  border:0 none;
  font-family:inherit;
  font-size:100%;
  font-style:inherit;
  font-weight:inherit;
  margin:0;
  outline:none 0;
  padding:0;
}
a {
  border:none;
  color:#333333;
  outline:none;
  text-decoration:none;
}
body, html {
  height:100%;
}
body {
  color:#343434;
  font-family:Arial, Helvetica, sans-serif;
  font-size:12px;
}
body#home {
  background-color:#FFFFFF;
  background-image:url(http://www.safewaygroups.com/images/bg.jpg);
  background-position:0 0;
  background-repeat:repeat no-repeat;
}
.main {
  clear:both;
  float:left;
  height:auto;
  width:100%;
}
.wrapper {
  clear:both;
  height:auto;
  margin:auto;
  position:relative;
  width:1000px;
}
.clr {
  clear:both;
  float:left;
  height:1px;
  width:100%;
}
.border {
  background-color:#E5E5E5;
  background-position:initial initial;
  background-repeat:initial initial;
}
p.desc {
  color:#343434;
  font-size:12px;
  font-weight:normal;
  letter-spacing:0.5px;
  line-height:150%;
}
.readmore {
  clear:both;
  float:right;
  margin:0 5px 10px 0;
  text-align:right;
  text-transform:capitalize;
}
.readmore a {
  color:#343434;
  text-decoration:none;
}
.readmore.arrow {
  background-image:url(http://www.safewaygroups.com/images/arrow.png);
  background-position:0 50%;
  background-repeat:no-repeat no-repeat;
  padding:0 0 0 12px;
}
.nobg {
  background-image:none !important;
  background-position:initial initial !important;
  background-repeat:initial initial !important;
}
.flexi {
  background-color:#605F5F;
  background-position:initial initial;
  background-repeat:initial initial;
  border-bottom-left-radius:5px;
  border-bottom-right-radius:5px;
  border-top-left-radius:5px;
  border-top-right-radius:5px;
  padding:12px 12px 0;
}
.uppercase {
  text-transform:uppercase;
}
.italics {
  font-style:italic;
}
.nomargin {
  margin:0 !important;
}
.sub-title {
  clear:both;
  margin:15px 0 0 !important;
}
h6.line, h6.line a {
  color:#666666;
  font-size:12px;
  font-weight:normal;
  margin:5px 0 15px !important;
}
.bold {
  font-weight:bold !important;
}
#top-main {
  clear:both;
  float:left;
  height:107px;
  overflow:hidden;
  width:100%;
}
#logo-top {
  float:left;
  height:auto;
  margin:10px 0 10px 20px;
  width:auto;
}
.nav-main {
  float:right;
  height:auto;
  margin:48px 0 0;
  width:auto;
}
.nav {
  background-image:url(http://www.safewaygroups.com/images/nav-left-curv.png);
  background-position:0 0;
  background-repeat:no-repeat no-repeat;
  display:block;
  height:38px;
  padding:0 12px;
}
.nav span {
  background-image:url(http://www.safewaygroups.com/images/nav-rt-curv.png);
  background-position:100% 0;
  background-repeat:no-repeat no-repeat;
  float:left;
  padding:0 12px 0 0;
}
.nav span ul {
  background-image:url(http://www.safewaygroups.com/images/nav.png);
  background-position:0 0;
  background-repeat:repeat no-repeat;
  float:left;
}
.nav span ul li {
  background-image:url(http://www.safewaygroups.com/images/nav-sep.png);
  background-position:100% 0;
  background-repeat:no-repeat repeat;
  color:#FFFFFF;
  float:left;
  font-size:14px;
  font-weight:normal;
  letter-spacing:0.9px;
  line-height:37px;
  list-style:none;
  padding:0 15px;
}
.nav span ul li a {
  color:#FFFFFF;
  text-decoration:none;
}
.nav span ul li a.active, .nav span ul li a:hover {
  color:#FAAF30;
}
.nav span ul li:last-child {
  background-image:none !important;
  background-position:initial initial !important;
  background-repeat:initial initial !important;
}
#banner-main, .content {
  clear:both;
  float:left;
  height:auto;
  width:100%;
}
#banner-main {
  padding:38px 0;
}
#banner {
  background-color:#FFFFFF;
  background-position:initial initial;
  background-repeat:initial initial;
  height:304px;
  margin:auto;
  width:958px;
}
#banner-inner {
  float:left;
  height:294px;
  margin:5px;
  overflow:hidden;
  width:948px;
}
.content.grey {
  background-color:#F6F6F6;
  background-position:initial initial;
  background-repeat:initial initial;
}
.content .col-left {
  float:left;
  height:auto;
  position:relative;
  width:65%;
}
.content .col-left .mod, .col-mid .mod {
  height:auto;
  margin:26px;
}
.col-mid .mod {
  height:auto;
  margin:20px 20px 0 27px;
}
.content .col-left .mod h2.heading {
  color:#2D2D2D;
  font-family:inherit;
  font-size:24px;
  font-weight:normal;
  letter-spacing:1px;
  margin:1px;
  text-transform:capitalize;
}
.content .col-left .mod h2.white {
  color:#FFFFFF;
  font-family:inherit;
  font-size:17px;
  font-weight:normal;
  letter-spacing:1px;
  margin:1px 1px 7px;
  text-transform:inherit;
}
.content .col-left .mod p.desc {
  display:block;
  margin:15px 0;
  text-align:justify;
}
.content .col-right {
  margin:0 0 0 65%;
  width:35%;
}
.content ul.list-arr {
  float:left;
  margin:0 30px 10px 0;
}
.content ul.list-arr li {
  background-image:url(http://www.safewaygroups.com/images/bullet1.png);
  background-position:0 8px;
  background-repeat:no-repeat no-repeat;
  clear:both;
  color:#605F5F;
  line-height:28px;
  list-style:none;
  padding:0 0 0 22px;
}
.content ul.list-arr li a {
  color:#605F5F;
  text-decoration:none;
}
.foot {
  clear:both;
  float:left;
  position:relative;
  width:100%;
}
.content.footer-main {
  background-color:#000000;
  background-position:initial initial;
  background-repeat:initial initial;
}
.content.footer-sub {
  background-color:#2B2B2B;
  background-position:initial initial;
  background-repeat:initial initial;
  min-height:54px;
}
.content.footer-sub.mod {
  height:auto;
  margin:10px 0;
  overflow:auto;
}
.content ul.list-arr-footer {
  float:left;
  margin:15px 40px 20px 0;
  width:27%;
}
.content ul.list-arr-footer li {
  background-image:url(http://www.safewaygroups.com/images/border-footer.png);
  background-position:0 100%;
  background-repeat:repeat no-repeat;
  clear:both;
  color:#D5D4D4;
  letter-spacing:0.5px;
  line-height:28px;
  list-style:none;
  padding:0;
}
.content ul.list-arr-footer li a {
  color:#D5D4D4;
  text-decoration:none;
}
.content .foot-left .mod {
  height:auto;
  margin:20px 0 0 20px;
  overflow:auto;
}
.content .foot-left {
  float:left;
  height:100%;
  position:relative;
  width:75%;
}
.mod h2.heading, h2.heading {
  color:#2D2D2D;
  font-family:inherit;
  font-size:24px;
  font-weight:normal;
  letter-spacing:1px;
  margin:1px;
  text-transform:capitalize;
}
.mod h2.white {
  color:#FFFFFF;
  font-family:inherit;
  font-size:17px;
  font-weight:normal;
  letter-spacing:1px;
  margin:1px 1px 7px;
  text-transform:inherit;
}
.mod p.desc {
  display:block;
  margin:15px 0;
  text-align:justify;
}
.footer-main h5.media {
  color:#C4C4C4;
  font-size:14px;
  font-weight:bold;
  margin:0;
  padding:0;
}
.media-list {
  color:#CECFCF;
  font-size:11px;
  font-weight:normal;
  margin:15px 0 20px !important;
  width:29% !important;
}
.media-list li {
  background-image:none !important;
  background-position:initial initial !important;
  background-repeat:initial initial !important;
  clear:none !important;
  float:left !important;
}
.media-list li a#fb {
  background-image:url(http://www.safewaygroups.com/images/fb-icon.png);
  background-position:0 50%;
  background-repeat:no-repeat no-repeat;
  padding:4px 0 4px 26px;
}
.media-list li a#yt {
  background-image:url(http://www.safewaygroups.com/images/youtube-icon.png);
  background-position:0 50%;
  background-repeat:no-repeat no-repeat;
  padding:4px 0 4px 26px;
}
.media-list li a#twi {
  background-image:url(http://www.safewaygroups.com/images/twi-icon.png);
  background-position:0 50%;
  background-repeat:no-repeat no-repeat;
  padding:4px 0 4px 26px;
}
.media-list li a#fli {
  background-image:url(http://www.safewaygroups.com/images/flicker-icon.png);
  background-position:0 50%;
  background-repeat:no-repeat no-repeat;
  padding:4px 0 4px 26px;
}
.content ul.list-copyright {
  float:left;
  margin:8px;
  width:auto;
}
ul.list-copyright li, ul.list-copyright li a {
  background-image:none !important;
  background-position:initial initial !important;
  background-repeat:initial initial !important;
  color:#CDCFD1;
  float:left;
  font-size:10px;
  list-style:none;
  text-decoration:none !important;
}
ul.list-copyright li {
  margin:10px;
}
.content .foot-right {
  margin:0 0 0 75%;
  width:25%;
}
.col-right .mod {
  height:auto;
  overflow:auto;
  padding:26px 12px 12px;
}
.col-right .mod .box {
  background-color:#605F5F;
  background-image:url(http://www.safewaygroups.com/images/box-bg.png);
  background-position:0 50%;
  background-repeat:repeat repeat;
  border-bottom-left-radius:5px;
  border-bottom-right-radius:5px;
  border-top-left-radius:5px;
  border-top-right-radius:5px;
  clear:both;
  float:left;
}
.col-right .mod .box ul {
  float:left;
  margin:5px;
}
.col-right .mod .box ul#logos {
  border:1px solid #565656;
  border-bottom-left-radius:3px;
  border-bottom-right-radius:3px;
  border-top-left-radius:3px;
  border-top-right-radius:3px;
  margin:10px 15px;
}
.col-right .mod .box ul li {
  float:left;
  list-style:none;
  margin:5px 15px;
}
.col-right .mod .box ul li#last {
  float:right;
  margin-top:32px;
}
.mod h4.heading, .heading {
  clear:both;
  color:#2D2D2D;
  font-family:inherit;
  font-size:18px;
  font-weight:normal;
  letter-spacing:1px;
  margin:1px;
  text-transform:capitalize;
}
.col-right p.desc {
  line-height:150%;
  margin:3px 0;
  padding:0;
  text-align:left !important;
}
.info-chair {
  clear:both;
  margin:auto;
  position:relative;
}
.info-chair img {
  margin:5px 10px 5px 0;
}
.info-chair .data {
}
.info-chair p {
  clear:right;
  color:#FFFFFF;
  letter-spacing:1px;
  line-height:120%;
  margin:5px 5px 5px 0;
}
.info-chair .readmore {
  background-color:#7E7C7C;
  background-position:initial initial;
  background-repeat:initial initial;
  margin:0;
  padding:5px;
}
.info-chair .readmore a {
  color:#FFFFFF;
}
.content .foot-right .mod {
  height:auto;
  overflow:auto;
  padding:20px 0 0 20px;
}
.foot-right ul.list-add {
  padding:15px 10px 20px 0;
}
.foot-right ul.list-add li {
  color:#D5D4D4;
  font-size:12px;
  letter-spacing:1px;
  line-height:120%;
  list-style:none;
  margin:5px 0;
}
.foot-right ul.list-add li#first {
  background-image:url(http://www.safewaygroups.com/images/logo-footer.png);
  background-position:0 50%;
  background-repeat:no-repeat no-repeat;
  padding:0 0 0 95px;
}
body#inner {
  background-attachment:scroll;
  background-color:#FFFFFF;
  background-image:url(http://www.safewaygroups.com/images/bg-inner.jpg);
  background-position:0 0;
  background-repeat:repeat no-repeat;
}
#banner.in-banner {
  height:184px;
}
#banner-inner.inn {
  height:174px !important;
}
#banner-main.innerheight {
  padding:26px 0;
}
.padding {
  padding:26px 12px 12px !important;
}
.col-mid {
  height:auto;
  position:relative;
}
blockquote {
  border-left-color:#DDDDDD;
  border-left-style:solid;
  border-left-width:5px;
  margin:10px 0;
  padding-left:20px;
}
img.alignleft {
  display:inline;
  margin:0 7px 2px 0;
  padding:4px;
}
.alignleft {
  float:left;
}
blockquote p {
  font-size:12px;
  letter-spacing:0.5px;
  line-height:16px;
  margin:5px 0;
}
blockquote img {
  height:77px;
  width:77px;
}
h6 {
  font-size:14px !important;
  font-weight:bold !important;
}
.highlightbox {
  background-attachment:scroll;
  background-color:#ECECEC;
  background-image:none;
  background-position:0 0;
  background-repeat:repeat repeat;
  border:1px solid #DDDDDD;
  margin:12px 0;
  padding:1em;
}
.pdf {
  background-attachment:scroll;
  background-color:transparent;
  background-image:url(http://www.safewaygroups.com/images/pdf.png);
  background-position:100% 50%;
  background-repeat:no-repeat no-repeat;
  padding:0 15px 0 0;
  width:20px;
}
div#lmap {
  clear:both;
  padding:10px 10px 10px 0;
}
label {
  clear:both;
  float:left;
  line-height:18px;
  margin:3px 0;
}
label span.required {
  color:#666666;
  padding:0 0 0 2px;
}
.textbox {
  background-color:#F1F1F1;
  border:1px solid #CCCCCC;
  clear:both;
  color:#333333;
  float:left;
  font-family:Arial, Helvetica, sans-serif;
  font-size:12px;
  margin:0 10px 13px 0;
  padding:6px;
  width:400px;
}
.textarea {
  background-color:#F1F1F1;
  border:1px solid #CCCCCC;
  clear:both;
  float:left;
  font-family:Arial, Helvetica, sans-serif;
  font-size:12px;
  height:60px;
  padding:3px;
  width:502px;
}
.select {
  background-color:#F1F1F1;
  float:left;
  font-family:Arial, Helvetica, sans-serif;
  font-size:12px;
  margin:0 10px 13px 0;
  padding:2px;
  width:200px;
}
.select option {
  margin:4px 0;
}
.field {
  background-color:#F1F1F1;
  border:1px solid #CCCCCC;
  float:left;
  font-family:Arial, Helvetica, sans-serif;
  font-size:12px;
  margin:0 10px 13px 0;
  padding:6px;
}
.btn-send {
  background-color:#333333;
  background-position:initial initial;
  background-repeat:initial initial;
  border:1px solid #333333;
  color:#FFFFFF;
  cursor:pointer;
  font-family:Arial, Helvetica, sans-serif;
  font-size:12px;
  letter-spacing:0.5px;
  margin:4px 4px 16px 0;
  padding:7px;
  text-align:center;
}
.col-right .mod .box ul li.cat {
  background-image:url(http://www.safewaygroups.com/images/arrow.gif);
  background-position:0 6px;
  background-repeat:no-repeat no-repeat;
  clear:both !important;
  line-height:23px;
  list-style:none outside none;
  padding-left:22px;
}
.col-right .mod .box ul li.cat a {
  color:#FFFFFF;
}
.col-right .mod .box ul li.cat a:hover, .col-right .mod .box ul li.cat a.active {
  color:#FAAF30;
}
.content ul.arr-new li {
  background-attachment:scroll !important;
  background-color:transparent !important;
  background-image:url(http://www.safewaygroups.com/images/bullet1.png) !important;
  background-position:0 3px !important;
  background-repeat:no-repeat no-repeat !important;
  font-size:12px !important;
  line-height:18px !important;
  padding:0 0 17px 22px !important;
}
.menu_list {
  font-family:Arial, Helvetica, sans-serif;
  width:290px;
}
.menu_head {
  background-image:url(http://www.safewaygroups.com/css/left.png);
  background-position:4% 50%;
  background-repeat:no-repeat no-repeat;
  border-bottom-color:#676666;
  border-bottom-style:solid;
  border-bottom-width:1px;
  cursor:pointer;
  font-size:12px;
  font-weight:bold;
  margin:1px;
  padding:7px 5px 7px 30px;
  position:relative;
}
.menu_body {
  display:none;
}
.menu_body a {
  background-color:#605F5F;
  color:#FAAF30;
  display:block;
  font-size:12px;
  font-weight:normal;
  line-height:180%;
  padding-left:30px;
  text-decoration:none;
}
.menu_body a:hover {
  color:#FAAF30;
}
.col-left .menu_list, .col-mid .menu_list {
  width:100% !important;
}
.col-left .menu_head {
  background-attachment:scroll !important;
  background-color:#ECECEC !important;
  background-image:none !important;
  background-position:0 0 !important;
  background-repeat:repeat repeat !important;
  border-bottom-color:#DDDDDD;
  border-bottom-style:solid;
  border-bottom-width:1px;
  color:#605F5F !important;
  font-size:14px !important;
  font-weight:lighter !important;
}
.col-left .menu_body a {
  background-color:#FFFFFF;
  background-position:initial initial;
  background-repeat:initial initial;
  color:#605F5F !important;
}
.col-left .menu_body {
  background-image:none !important;
  color:#605F5F !important;
}
.col-left .menu_body p {
  line-height:22px;
  margin:4px 35px;
}
.col-mid .menu_head {
  background-color:#ECECEC !important;
  border-bottom-color:#DDDDDD;
  border-bottom-style:solid;
  border-bottom-width:1px;
  color:#605F5F !important;
  font-size:14px !important;
  font-weight:lighter !important;
  padding:7px 5px 7px 20px;
}
.col-mid .menu_body {
  background-image:none !important;
}
.col-mid .menu_body p {
  color:#666666;
  font-size:13px;
  padding:12px 70px;
}
.col-mid .menu_body ul.list-arr {
  float:none !important;
  margin:12px 70px !important;
}
.pic {
  border:5px solid #E4E4E4;
  float:right;
  margin:15px 20px 7px 15px;
}
.pic-left {
  float:left;
  margin:15px 20px 7px 0;
}
#basic-accordian {
  padding:9px;
  width:98%;
}
.accordion_headings {
  background-color:#ECECEC;
  background-position:initial initial;
  background-repeat:initial initial;
  border:1px solid #FFFFFF;
  color:#605F5F;
  cursor:pointer;
  font-size:14px;
  font-weight:lighter;
  padding:9px;
}
.accordion_headings:hover {
  background-color:#D5D5D5;
  background-position:initial initial;
  background-repeat:initial initial;
}
.accordion_child {
  padding:15px;
}
.header_highlight {
  background-color:#D5D5D5;
  background-position:initial initial;
  background-repeat:initial initial;
}
#basic-accordian p {
  color:#666666;
  font-size:13px;
  padding:2px 7px 14px 5px;
}
.highlighted {
}
ul.highlighted {
  margin:10px 0;
}
ul.highlighted li {
  background-color:#ECECEC !important;
  background-position:initial initial !important;
  background-repeat:initial initial !important;
  border-bottom-color:#DDDDDD;
  border-bottom-style:solid;
  border-bottom-width:1px;
  border-left-color:#DDDDDD;
  border-left-style:solid;
  border-left-width:5px;
  margin-bottom:5px;
  margin-right:7px;
  padding-left:20px;
  padding-right:20px !important;
}
ol.listings2 li {
  clear:both;
  color:#2D2D2D;
  font-family:inherit;
  font-size:14px;
  font-weight:bold;
  letter-spacing:1px;
  margin:1px;
  text-transform:capitalize;
}
ol.listings2 {
  padding-left:18px;
}
